*
{
    margin:0;
    padding:0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    background-image: url(https://img.pikbest.com/backgrounds/20200427/aesthetic-and-simple-universe-starry-sky-planet-composite-background_2754906.jpg!bwr800);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
    background-blend-mode: darken;
}

.title{
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    left: 100%;
    color: #fff;
    padding: 100px 100px;
}

.text-box{
    color:#fff;
    padding-bottom: 50px;
    position: relative;
}

.text-box p{
    font-size: 50px;
    font-weight: 600;  
    margin-left: 130px;
    margin-top: -25px; 
}

.text-box h1{
    font-size: 190px;
    line-height: 100px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background-image: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.row a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    line-height: 30px;
}

.row img{
        width: 15px;
        margin-left: 10px;
        margin-bottom: -2px;
}
.content{
    top: 50%;
    left: 5%;
    position: absolute;
    transform: translateY(-50%);
    color:#fff;

}

.content h1{
    font-size: 64px;
    font-weight: 500;
}


.content h1 span{
    color:#ff3753;
}

.content button{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color:#fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.content button img{
    width: 15px;
    margin-left: 10px;
}

.launch-time{
    display: flex;
}

.launch-time div{
    flex-basis: 750px;
}

.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}

.rocket{
    width: 350px;
    position: absolute;
    right:10%;
    left: 900px;
    bottom: 0;
    animation: rocket 2s linear infinite;
}

@keyframes rocket{
    0%{
        bottom:0;
        opacity: 0;
    }
        100% {
            bottom: 105%;
            opacity: 1;
        }
}
